node_modules/
.runtime/
dist/
release/
installer-output/
work/
.secrets/
*.enroll
target/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
*.log
.DS_Store
font/*
!font/IRANYekanX-Regular (1).woff2
!font/IRANYekanX-Bold (1).woff2
